<ol>
  {% for object in array %}
    <li>
      <ul>
        {% for item in object.items %}
          <li>
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>
